/*
	Raleigh Crime Styleguide
	By: Nabil Enayet 2/12/2015
	http://anylytics.io
*/

.andadaItalic {
	font-family: 'Andada-Italic';
}

.andadaRegular {
	font-family: 'Andada-Regular';
}

.andadaBold {
	font-family: 'Andada-Bold';
}

.sourceSansBold {
	font-family: 'SourceSans';
}

#map {
	top:0;
	bottom:0;
	left:0;
	right:0;
	position:fixed;
	background-color:skyblue;
	z-index:0;
}

.floatBox {
	border-radius:2px;
	background-color:white;
}

.shadow, .shadow:focus {
	box-shadow:0 2px 6px rgba(0,0,0,0.3),0 4px 15px -5px rgba(0,0,0,0.3);
}

.shadow-down {
	box-shadow:0 2px 3px rgba(0,0,0,0.3);
}

#searchAddresses {
	margin:0px;
	margin-top:15px;
	border-style:none;
	margin-left:45px;
	width:400px;
	padding:5px;
	border-color:#456942;
	z-index:1;
}

#searchContainer {
	display:inline-block;
}


#searchBtn {
	background-color:#456942;
	color:white;
	height:100%;
	cursor:pointer;
	text-align:center;
}

.btn:hover {
	background-color:#54A148;
	color:white;
}


.rightBox {
	margin-top:20px;
	margin-right:20px;
	padding:10px;
	position:absolute;
	min-width:350px;
	text-align:center;
	right:0px;
	width:20%;
}

#dateDropDown {
	width:100%;
	margin-top:3px;
}

#crimeIndex {
	z-index:10;
	height:150px;
}

.questionIcon {
	background-color:#54A148;
	border-radius:50%;
	height:22px;
	width:22px;
	color:white;
	position:absolute;
	top:0;
	right:0;
	margin:5px;
}

#filterCrimes {
	margin-top:90px;
	z-index:5;
	height:90px;
}

#filterDates {
	margin-top:130px;
	z-index:4;
	height:60px;
}

#addresses {
	margin-top:280px;
	z-index:3;
	height:200px;
	text-align:left;
}


.card {
	padding:10px;
	position:relative;
	border-top-style:solid;
	border-top-color:whitesmoke;
}

.card:hover {
	background-color:whitesmoke;
}

.cardHolder {
	overflow-y:scroll;
	overflow-x:hidden;
	height:150px;
}

.cardIndex {
	position:absolute;
	right:10px;
	top:10px;
	padding:5px;
}

#summary {
	margin-top:550px;
	z-index:4;
	height:200px;
}

div#crimeIndex > p {
	font-size:3em;
}

div#crimeIndex > span {
	font-size:1em;
	position:absolute;
	left:5px;
	bottom:5px;
}


#crimes, #dates {
	color:skyblue;
	cursor:pointer;
	padding:5px;
}


#crimes:hover, #dates:hover {
	color:#456942;
}

.boxTitle {
	text-align: center;
	font-size:1.5em;
	color:#54A148;
}

.crimeIndexMonthContainer {
    position:relative;
    width:50px;
    padding:2px;
}

.crimeIndexMonth {
    background-color:#54A148;
    width:40px;
    position:absolute;
    bottom:0px;
    color:white;
    font-size:0.8em;
}

.crimeIndexMonth:hover {
    background-color:#456942;
}

#crimeIndexHistory {
    margin-top:35px;   
    margin-left:10px;   
}

#crimeIndexLabels {
    height:75px;
    margin-right:8px;
}

/***** MOBILE SPECIFIC CSS *******/
@media screen and (max-width: 768px) {   
    #searchAddresses {
    	margin-left:0px;
    	margin-top:0px;
    	width:calc(100% - 40px);
    }
    #searchContainer {
    	width:100%;
    	height:5%;
    }
    #searchBtn {
    	width:30px;
	}
} 
